.modalForm {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.567);
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    place-content: center;
    display: none;
    z-index: 2;
}

.activeForm {
    display: grid;
}

.modalForm__form {
    background-color: white;
    padding: 20px;
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 7px;
}

.modalForm__title {
    font-size: 20px;
    margin: 10px 0;
}

.modalForm__x {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}

.modalForm__x:hover {
    color: rgb(182, 44, 44);
}

.modalForm__div {
    line-height: 30px;
    max-width: 279px;
}

.modalForm__label {
    display: block;
}

.modalForm__input {
    width: 100%;
    padding: 9px;
    outline: none;
    font-family: var(--principal-font);
}

.modalForm__btn {
    background-color: var(--purple);
    border: none;
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: backgraund 200ms ease;
}

.modalForm__btn:hover {
    background-color: var(--purple-medium)
}
