:root {
    --principal-font: 'Roboto', sans-serif;
    --purple: #555A88;
    --purple-medium: #737694;
  }
  
  body {
    margin: 0;
    background: linear-gradient(35deg,rgb(6,0,151) 0%,rgb(130,4,255) 73%,rgb(193,15,255) 100%);
  }
  
  html {
    font-size: 18px;
  }
  
  *, *::after, *::before {
    box-sizing: inherit;
  }
  
  img {
    max-width: 100%;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }